.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container form div {
  margin-bottom: 20px;
}

.auth-container form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.auth-container form input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.auth-container form input:focus {
  border-color: #3c444c;
  outline: none;
}

.auth-container form button {
  padding: 12px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3c444c;
  color: white;
  transition: background-color 0.3s;
}

.auth-container form button:hover {
  background-color: #3c444c;
}